# No Updates for pyxhook

Werkzeug==3.1.6
SQLAlchemy==2.0.48
flask
flask_session
flask_wtf
Flask_SQLAlchemy
Flask_Login
Flask_Bcrypt
flask_mail
wtforms
mss==10.1.0
WMI==1.5.1
numpy==2.4.3
pyxhook==1.0.0
twilio==9.10.3
colorama==0.4.6
requests==2.32.5
pycryptodomex==3.23.0
py-cryptonight>=1.0.0
opencv-python;python_version>'3'
pypiwin32==223;sys.platform=='win32'
pyHook==1.5.1;sys.platform=='win32'
